/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}

.numbersRightAlign{
    text-align:right;
}

.resultView{
    text-align:center;
    display:inline-block;
    vertical-align: top;
    width: 200px;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
}